
@import "./company";
@import "./team";
@import "./lib/reset.scss";



/**{
    padding: 0; margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-size:14px;

}*/
h1,h2,h3,h4,h5,h6,p,i,a{

}
html, body, p, ul, li, dl, dt, dd, input, label,h1,h2,h3,h4,h5,h6,p,i,a,em{
  margin: 0;
  border: 0;
  padding: 0;
  font-weight:normal;
  font-style: normal;
  font-size: inherit;
}
html,body{

  background:#F7f7f7;
}
ul, li, dl, dt, dd{
  list-style: none;
}
body, input{
  font-family: 'Microsoft Yahei', '宋体', 'arial', 'Hiragino Sans GB';
  text-align: left;
}

html{
     position: relative;
     min-height: 100%;
}
body {
  font-size: 14px;
  color:#353535;
  font-family: 'Microsoft Yahei';
  height: 100%;
}
/*隐藏IE浏览器自带的文本删除按钮和密码查看按钮*/
::-ms-clear, ::-ms-reveal{
  display: none;
}
* {
  outline: 0 none!important;
}
::-moz-placeholder { color: #A9A9A9; }
::-webkit-input-placeholder { color:#A9A9A9; }
:-ms-input-placeholder { color:#A9A9A9; }

/*清除浮动*/
.clear:after{
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear {
  zoom:1;
}    /*==for IE6/7 Maxthon2==*/

#app{
    width: 100%;
    height: 100%;
    //模态框
    #modal-overlay {
         display: none;
         position: fixed;   /* 使用绝对定位或固定定位  */
         left: 0px;
         top: 0px;
         width:100%;
         height:100%;
         text-align:center;
         z-index: 99999;
         background: rgba(60,60,60,.5);
         border-radius: 5px;

    }
/* 模态框样式 */
/* 模态框样式 */
  #modal-overlay2 {
    display: none;
    position: fixed;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background: rgba(60,60,60,.5);
    border-radius: 5px;

  }
  /* 模态框样式 */
  #modal-overlay3 {
    display: none;
    position: fixed;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background: rgba(60,60,60,.7);
    border-radius: 5px;

  }
  #modal-overlay4 {
    display: none;
    position: fixed;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background: rgba(60,60,60,.7);
    border-radius: 5px;

  }
  #modal-overlay5 {
    display: none;
    position: fixed;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background: rgba(60,60,60,.7);
    border-radius: 5px;

  }
  #modal-overlay6 {
    display: none;
    position: fixed;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background: rgba(60,60,60,.7);
    border-radius: 5px;

  }
  #modal-overlay7 {
    display: none;
    position: fixed;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background: rgba(60,60,60,.7);
    border-radius: 5px;

  }
  #modal-overlay8 {
    display: none;
    position: fixed;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 99999;
    background: rgba(60,60,60,.7);
    border-radius: 5px;

  }
  /* 模态框样式 */

}
